@value primary: #33B490;
.root {
  display: block;
  width: 300px;
  height: 40px;
  padding: 10px;
  border: 1px solid #f0f0f0;
  cursor: pointer;
}
.root:hover {
  opacity: 0.8;
}
.authorName {
  font-size: 12px;
  color: #a0a0a8;
}
.title {
  font-size: 20px;
}
.hotTitle {
  composes: title;
  color: primary;
  font-weight: bold;
}
