.root {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #f0f2fb;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
  margin-bottom: 30px;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
}

.primaryRoot {
  composes: root;
  background-color: #62c4a4;
  border: none;
  color: white;
}

.primaryTitle {
  composes: title;
  font-weight: bold;
}
